<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ServletConvertor</servlet-name>
        <servlet-class>com.example.assignment_ii.ServletConvertor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConvertor</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <servlet-class>com.example.assignment_ii.loginServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <url-pattern>/logins</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>